# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\桌面\cachekit4-master-8c8bb02a0864bb7c31718f98045e8f4c93ed101acachekit4.git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
